<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!--统一编码格式为中文utf-8 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.liuuki.crm.webFilter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!--判断是否登录，负责跳转到登录页面-->
  <filter>
    <filter-name>IsLoginnedFilter</filter-name>
    <filter-class>com.liuuki.crm.webFilter.IsLoginnedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsLoginnedFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <!--负责数据词典的缓存到客户端-->
  <listener>
    <listener-class>com.liuuki.crm.settings.web.listener.Initlistener</listener-class>
  </listener>

  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.liuuki.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>

  <!--处理市场活动及相关的业务员-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.liuuki.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.do</url-pattern>
    <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
    <url-pattern>/workbench/activity/selectActivity.do</url-pattern>
    <url-pattern>/workbench/activity/deleteActivity.do</url-pattern>
    <url-pattern>/workbench/activity/deleteSActivity.do</url-pattern>
    <url-pattern>/workbench/activity/getUserAndActivity.do</url-pattern>
    <url-pattern>/workbench/activity/saveEditActivity.do</url-pattern>
    <url-pattern>/workbench/activity/detail.do</url-pattern>
    <url-pattern>/workbench/activity/getRemarkList.do</url-pattern>
    <url-pattern>/workbench/activity/deleteRemarkById.do</url-pattern>
    <url-pattern>/workbench/activity/getRemarkNoteContent.do</url-pattern>
    <url-pattern>/workbench/activity/addRemark.do</url-pattern>
    <url-pattern>/workbench/activity/saveRemark.do</url-pattern>

  </servlet-mapping>

  <!--处理线索及相关的业务员-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.liuuki.crm.workbench.web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <url-pattern>/workbench/clue/getUserList.do</url-pattern>
    <url-pattern>/workbench/clue/pageList.do</url-pattern>
    <url-pattern>/workbench/clue/saveClue.do</url-pattern>
    <url-pattern>/workbench/clue/detail.do</url-pattern>
    <url-pattern>/workbench/clue/showActivityList.do</url-pattern>
    <url-pattern>/workbench/clue/deleteCar.do</url-pattern>
    <url-pattern>/workbench/clue/searchActivityByClue.do</url-pattern>
    <url-pattern>/workbench/clue/bindClueAndAc.do</url-pattern>
    <url-pattern>/workbench/clue/searchActivityByName.do</url-pattern>
    <url-pattern>/workbench/clue/convert.do</url-pattern>
    <url-pattern>/workbench/clue/editInit.do</url-pattern>
    <url-pattern>/workbench/clue/updateClue.do</url-pattern>
    <url-pattern>/workbench/clue/deleteClue.do</url-pattern>
    <url-pattern>/workbench/clue/deleteClueById.do</url-pattern>
    <url-pattern>/workbench/clue/getRemarkList.do</url-pattern>
    <url-pattern>/workbench/clue/deleteRemarkById.do</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>TransactionController</servlet-name>
    <servlet-class>com.liuuki.crm.workbench.web.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionController</servlet-name>
    <url-pattern>/workbench/transaction/create.do</url-pattern>
    <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
    <url-pattern>/workbench/transaction/getActivityByName.do</url-pattern>
    <url-pattern>/workbench/transaction/searchContactsByName.do</url-pattern>
    <url-pattern>/workbench/transaction/saveTrans.do</url-pattern>
    <url-pattern>/workbench/transaction/pageList.do</url-pattern>
    <url-pattern>/workbench/transaction/detail.do</url-pattern>
    <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
    <url-pattern>/workbench/transaction/getECharts.do</url-pattern>

  </servlet-mapping>




</web-app>
































